{
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "./"]
      }
    },
    "react": {
      "version": "latest"
    }
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["sort-destructure-keys", "sort-keys-fix"],
  "rules": {
    "react/jsx-fragments": 0,
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "sort-destructure-keys/sort-destructure-keys": 2,
    "sort-keys-fix/sort-keys-fix": 2
  },
  "overrides": [
    {
      "files": [".spec.jsx", ".spec.js"],
      "env": { "jest": true }
    },
    {
      "files": [".storybook/**", "*/stories/*"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": 0
      }
    }
  ]
}
